demo animacion/sprites/Final.aseprite
demo animacion/sprites/Sprite-0001.png
demo animacion/sprites/Sprite-0002.png
demo animacion/sprites/Sprite-0003.png
demo animacion/sprites/Sprite-0004.png
demo animacion/sprites/Sprite-sheet.png
demo animacion/sprites/Sprite-sheet2.png